@model IEnumerable<FireRosterMVC.Models.Race>

@{
    ViewBag.Title = "Race List";
}

<h2>Race List</h2>

<p>
    @Html.ActionLink("+ Add new", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Label, "Details", new { id = item.ID })
        </td>
        <td>
            @Html.Partial("_ListActionsPartial", new ViewDataDictionary { { "controller", "Race" }, { "id", item.ID } })
        </td>
    </tr>
}

</table>
