@model FireRosterMVC.Models.ApplicationUser

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<h4>List of roles for this user</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}

<ul class="list-group">

    @foreach (var item in ViewBag.RoleNames)
    {
        <li class="list-group-item">
            @item
        </li>
    }
</ul>
<p>
    @Html.Partial("_DetailsFooterPartial", new ViewDataDictionary { { "id", Model.Id } })
</p>



