<a href="@Url.Action("Edit", ViewData["controller"].ToString(), new { id= ViewData["id"] })" class="btn btn-link" title="Edit">
    <i class="glyphicon glyphicon-edit"></i>
    <span class="sr-only">Edit</span>
</a>
<a href="@Url.Action("Delete", ViewData["controller"].ToString(), new { id = ViewData["id"] })" class="btn btn-link" title="Delete">
    <i class="glyphicon glyphicon-trash"></i>
    <span class="sr-only">Delete</span>
</a>